#pantallaFinal{
    --marginMain: 1em auto;  
    --widthMain: 55%;
    --espaciadoMain: 2em;
    --text-shadowMain: 1px 1px 15px;
    --backgroundMain: white;
    --borderRadiusMain: 1em;
    --espaciadoMain: .4rem;
    gap: var(--espaciadoMain);
    height: 60vh;
    margin: var(--margin-top) var(--margin-button);
    min-width: 10%;
    max-width: var(--widthMain);
    margin: var(--marginMain);
    padding: var(--espaciadoMain);
    background: var(--backgroundMain);
    border-radius: var(--borderRadiusMain);
}
#pantallaFinal h2{
    color: var(--color-titulo);
    --text-shadow: .5em .5em .3em black;
    --color-titulo: black !important;
    text-shadow: var(--text-shadow) !important;
    -webkit-text-stroke: .023em black !important;

    text-align: center;
    font-size: 2rem;
    margin: 0 !important;
}
#pantallaFinal button{
    --widthButton: 5em;
    --heightButton: 1em;
    --backgrounColor: aqua;
    --paddingButton: 1.5em;
    --marginButton: 2em auto;

    font-size: 1rem;
    max-height: var(--heightButton);
    width: var(--widthButton);
    margin: var(--marginButton);
    border: var(--none);
    padding: var(--paddingButton);
    cursor: pointer;
    display: flex;
    place-items: center;
    gap: 1em;
}
#pantallaFinal a{
    color: black;
    
}