#tablero{
    --marginMain: 1em auto;  
    --widthMain: 55%;
    --espaciadoMain: 2em;
    --text-shadowMain: 1px 1px 15px;
    --backgroundMain: white;
    --borderRadiusMain: 1em;
    --espaciadoMain: .4rem;
    gap: var(--espaciadoMain);
    height: 60vh;
    margin: var(--margin-top) var(--margin-button);
    min-width: 10%;
    max-width: var(--widthMain);
    margin: var(--marginMain);
    padding: var(--espaciadoMain);
    background: var(--backgroundMain);
    border-radius: var(--borderRadiusMain);


}
.juego{
    height: 90%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.juego button{
    cursor: pointer;
    --widthButton: 5em;
    --heightButton: 1em;
    --backgrounColor: aqua;
    --paddingButton: 1.5em;
    --marginButton: 2em auto;

    font-size: 1rem;
    max-height: var(--heightButton);
    width: var(--widthButton);
    margin: var(--marginButton);
    border: var(--none);
    padding: var(--paddingButton);
    cursor: pointer;
    position: absolute;
    display: flex;
    place-items: center;
    gap: 1em;
   
}
#contador{
    text-align: right;
}
#powerups{
    margin: -1.5em 1.2em;
    text-align: left;
    display: flex;
    place-items: center;
}
#tablero img{
    cursor: pointer;
    width: 1em;
    margin: 0.8rem 0;
    height: 1em;
}
#cartelInfo{
    position: absolute;
    display: none;
    background: aqua;
    width: 20%;
}
@media only screen and (max-width: 768px) {
    body{
        font-size: 1rem;
    }
    #powerups{
        margin: -1em -0.1em 0 -4.5em;
        
    }
    #tablero img{
        margin: -13em 0 -12em -6em;
    }
    #juego div{
        font-size: .1rem;
    }
    
    main button{
        max-width: 10rem;
        font-size: 2rem;
        padding: 1.8rem;
        max-height: .5rem;
        display: flex;
        place-items: center;
        justify-content: center;
    }
}
